// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Oswald', sans-serif;
}


