// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';



body{
    font-family: 'Avenir', sans-serif;
}


