#app div{
    
}   
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Regular.ttf');
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Demi.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Heavy.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextCyr-UltraLight.ttf');
  font-weight: 100;
}

body {
  font-family: "Avenir", sans-serif;
  color: #191236;
}

main {
  margin-top: 81px;
}

.btn.btn--primary {
  background-color: #2f2651;
  color: #FFF;
}

.input-search2 {
  width: 250px;
  height: 45px;
  padding: 8px 5px 8px 34px;
  color: #777;
  font-family: 'Roboto', serif;
  font-weight: 300;
  transition: all 1s;
  border-radius: 9px;
  border: 1px solid #fff;
  cursor: text !important;
}
.input-search3 {  
  height: 45px;
  padding: 8px 5px 8px 34px;
  color: #777;
  font-family: 'Roboto', serif;
  font-weight: 300;
  transition: all 1s;
  border-radius: 9px;
  border: 1px solid #eee;
  cursor: text !important;
}
.sortby{
  word-break: keep-all;
  white-space: nowrap;
}
.no-break{
 word-break: keep-all;
  white-space: nowrap; 
}
.hv-15{
  height: 15vh;
}
.vh-81{
  height: 81vh;
}
.vh-80{
  height: 80vh;
}
.vh-82{
  height: 82vh;
}
.vh-83{
  height: 83vh;
}
.vh-76{
  height: 76vh;
}
.vh-77{
  height: 77vh;
}
.vh-78{
  height: 78vh;
}
.vh-79{
  height: 79vh;
}
.vh-87{
  height: 87vh;
}
.vh-88{
  height: 88vh;
}
.vh-86{
  height: 86vh;
}
.vh-89{
  height: 89vh;
}
.vh-90{
  height: 90vh;
}
.vh-85{
  height: 85vh
}

.vh-69{
  height: 69vh;
}
.vh-68{
  height: 68vh;
}
.vh-67{
  height: 67vh;
}
.vh-66{
  height: 66vh;
}
.vh-65{
  height: 65vh;
}
.vh-64{
  height: 64vh;
}
.vh-63{
  height: 63vh;
}
.vh-62{
  height: 62vh;
}
.vh-61{
  height: 61vh;
}
.vh-55{
  height: 55vh;
}
.vh-54{
  height: 54vh;
}
.vh-53{
  height: 53vh;
}
.vh-52{
  height: 52vh;
}
.vh-51{
  height: 51vh;
}
.vh-49{
  height: 49vh;
}
.vh-48{
  height: 48vh;
}
.vh-47{
  height: 47vh;
}
.vh-46{
  height: 46vh;
}
.vh-45{
  height: 45vh;
}
.vh-44{
  height: 44vh;
}
.vh-43{
  height: 43vh;
}
.vh-42{
  height: 42vh;
}
.vh-41{
  height: 41vh;
}
.vh-40{
  height: 40vh;
}
.vh-39{
  height: 39vh;
}
.vh-38{
  height: 38vh;
}
.vh-37{
  height: 37vh;
}
.vh-36{
  height: 36vh;
}
.vh-35{
  height: 35vh;
}
.vh-34{
  height: 34vh;
}
.vh-33{
  height: 33vh;
}
.vh-32{
  height: 32vh;
}
.vh-31{
  height: 31vh;
}
.vh-30{
  height: 30vh;
}
.vh-29{
  height: 29vh;
}
.vh-28{
  height: 28vh;
}
.vh-27{
  height: 27vh;
}
.vh-26{
  height: 26vh;
}
.vh-25{
  height: 25vh;
}
.vh-24{
  height: 24vh;
}
.vh-23{
  height: 23vh;
}
.vh-22{
  height: 22vh;
}
.vh-21{
  height: 21vh;
}
.vh-20{
  height: 20
}
.vh-19{
  height: 19
}
.vh-18{
  height: 18
}
.vh-17{
  height: 17
}
.vh-16{
  height: 16
}
.vh-15{
  height: 15
}
.vh-14{
  height: 14
}
.vh-13{
  height: 13
}
.vh-12{
  height: 12
}
.vh-11{
  height: 11
}
.vh-10{
  height: 10
}
.vh-70{
  height: 70vh;
}
.scroll-y{
  overflow-y: scroll;
}
.vh-100{
  min-height: 100vh;
}
.vh-1{
  min-height: 13vh;
}
.vh-87{
  min-height: 87vh;
}
@media screen and  (max-width:896px){
  .input-search2{
    width: 160px !important;
  }
  .input-search3 {
    width: 160px !important;
  }
}
.input-search2:focus {
  outline: none;
  border: 1px solid #6c5;
}
.input-search3:focus {
  outline: none;
  border: 1px solid #6c5;
}
.sortbtn {
  background: transparent !important;
  font-family: 'Roboto', serif;
  font-weight: 300;
  font-size: 0.9em;
  color: #888;
  cursor: pointer;
  border: none;
  transition: 0.5s all;
}
.sortbtn:focus {
  color: #222;
}

.serachicon2 {
  color: #888;
  position: absolute;
  left: 10px;
  top: 15px;
}
.sysbg {
  background: #fafafa;
}
.progress {
  background: #eee !important;
  border-radius: 13px;
  width: 87% !important;
  padding: 0px;
  max-height: 7px;
}
.progress-bar {
  border-radius: 13px;
  padding: 1px;
  max-height: 7px;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.boxX {
  background: #f5f5f5;
  border-radius: 10px;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}
.p-display-none{
  display: none;
}
.p-display-flex{
  display: flex;
}
.p-danger {
  background: #dd000f !important;
}
.p-warning {
  background: orange !important;
}
.p-success {
  background: #00b96b !important;
}
.p-transparent-warning{
  background: #FFDBB5;
}
.p-transparent-dark{
  background: rgba(0,0,0,.4);
}
.p-light {
  background: rgba(0, 190, 70, 0.1) !important;
}
.p-secondary {
  background: #f0f0f0 !important;
}
.p-text-warning{
  color: #FF8200;
}
span.p-text-success,.p-text-success,p.p-text-success{
  color: #00b96b;
}
span.p-text-secondary,.p-text-secondary{
  color: #bbb;
}
.p-dark{
  background: #20154e !important;
}
.sys-submit-btn{
    box-shadow: inset 1px -3px 6px rgb(145,95,200) ;
    cursor: pointer ;  
    border:none;  
    z-index: 5;
    position: relative;
    border-radius: 5px;
}
button:focus{
  outline: 0 !important;
}
.sys-submit-btn:active{
    user-select: none;
     box-shadow: none;
}

.p-text-dark{
  color: #20154e;
}
.px-6 {
  padding-left: 90px;
  padding-right: 90px;
}
.ftag {
  background: rgba(0, 190, 70, 0.1) !important;
  color: #00b96b !important;
  padding: 4px 7px;
  margin: 1px 2px;
  border-radius: 5px;
}
.h1 {
  height: 26px;
}
.h2{
  height: 50px !important;
}
.h500 {
  height: 500px;
}
.h100 {
  height: 100px;
}
.h-100{
  height: 100%;
}
.cadin {
  transition: all 1s;
}
.cadin:after {
  content: '';
  display: block;
  position: relative;
  transition: all 1s;
}
.cadin:hover:after {
  content: '';
  display: block;
  justify-content: center;
  position: relative;
  background: rgba(10, 10, 10, 0.1);
  width: 100%;
  height: 100%;
  top: -100%;
  z-index: 5;
  border-radius: 8px;
}
.h130 {
  height: 130px;
}
.hm300 {
  min-height: 300px;
}
.hm200 {
  min-height: 200px;
}
.r1 {
  border-radius: 4px;
}
.bg-danger-l1{
  background-color: rgba(200,0, 0, 0.4);
}
.r2{
  border-radius: 8px !important;
}
.rt2 {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.rb2 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.t-success {
  color: #00b96b !important;
}
/* .font1 {
  font-family: 'Roboto', serif !important;
} */
/* .font2 {
  font-family: 'Source Sans Pro', sans-serif !important;
} */

.flex-wrap{
      flex-wrap: wrap;
      align-items: center;
}
.exp-cont-view{
  display: flex;
  flex-wrap: wrap;
  min-height: 87vh;
}
@media screen and (min-width: 644px){  
  .lg-flex{
      display: flex;

  }
  .lg-flex-wrap {
    flex-wrap: wrap;
    align-items: center;
  }
  .pd-lg-3 {
    padding: 30px;
  }
  .pd-lg-4 {
    padding: 40px 45px;
  }
}
.systab {
  color: #777;
  display: inline-block;
  padding: 8px 15px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}
.systab:hover {
  color: #222;
}

.systab.systab--active {
  border-bottom: 4px solid #00b96b;
  font-weight: 500;
  color: #00b96b;
}

.systab.systab--active:hover {
  color: #00b96b;
}
.image-bg-1{
  background-image: url('../images/user-graduate-solid.png');
  background-size: cover;
  width: 15%;
  height: 100px;
}
.sys-bg-success {
  background: rgba(0, 170, 40, 0.1) !important;
  color: #00b96b !important;
}
.sys-bg-danger {
  background: rgba(170, 10, 40, 0.1) !important;
  color: #b9076b !important;
}
.cursor-1{
  cursor: pointer;
}
.fs1{
  font-size: 0.9em !important;
}
.forBug{
  cursor: pointer;
  box-shadow:0px 0px 10px #bbb;
   border-radius:50%;
   background:white;
   position:fixed;
   bottom:0px; 
   right:0px;z-index:150;
  transition: all 1s;
}
.forBug:active{
  height: 35px;
  width: 35px;
}
.forBug span{
  transition: font-size 0.5s;
}
.forBug:active span{
  font-size: 1.1em !important;
}
.forBug:hover span{
  color: #888 !important;
}
.forThumb{
    cursor: pointer;
  /*box-shadow:0px 0px 10px #bbb;
   background:white;*/
   border-radius:5px;
   padding: 10px;
   background: #eee;

   position:fixed;
   bottom:10px; 
   left: 45%;
   width: 250px;

   z-index:150;
  transition: all 0.2s;
}
.fs8 {
  font-size: 1.5em !important;
}
.fs01 {
  font-size: 0.8em !important;
}
.fs9 {
  font-size: 2em !important;
}
.fs10{
  font-size: 2.4em;
}
.login-right{
  width:80%; border-radius: 15px; height: 60vh; background: white;margin: 11px auto;
}
.login-left{
  width: 80%; border-radius: 15px;height: 60vh;background: rgba(255,255,255,.2);margin: 10px auto;
}
input.login-input{
  font-size: 1.2em !important;
  font-weight: 300;
  font-family: 'Roboto', serif;
  width: 100%;
}
#mainExp{
  width: 88%;
  overflow-x: scroll;
}
.systabActive{
 border-bottom: 2px solid #00b96b !important; 
 color: #00b96b !important;
}
@media screen and (max-width: 644px){
  div.px-6{
    padding:15px;
  }
    .sm-justify-center{
      justify-content: center;
    }
    .pd-sm-2{
    padding: 5px !important;    
  }
}
@media screen and (max-width: 950px){
  .md-center{
    text-align: center !important; 
  }
  .md-mb {
    margin-bottom: 15px;
  }
}
.more-detail-pin {
  cursor: pointer !important;
}
.more-detail-pin:hover {
  text-decoration: underline;
}
.more-detail {
  padding: 10px !important;
  width: 100%;
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
  padding: 5px 0;
  display: block;
  position: relative;
  bottom: 0px;
  height: 200px;
  border: 1px solid #ccc;
  z-index: 4;
  margin-top: 10px;
  display: none;
}
.more-detail p::-webkit-scrollbar-thumb {
  background: #999 !important;
}
.more-detail p {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 2px 20px;
  height: 90%;
  overflow-y: scroll;
  color: #555;
}
.more-detail::after {
  content: '';
  position: absolute;
  bottom: 93.5%;
  left: 93%;
  width: 25px;
  height: 25px;
  margin-left: -5px;
  z-index: 1;
  background: #fff;
  border: 1px solid #bbb;
  transform: rotate(45deg);
}
.more-detail::before {
  content: '';
  position: absolute;
  bottom: 89.6%;
  left: 92.8%;
  width: 30px;
  height: 30px;
  margin-left: -5px;
  z-index: 2;
  background: #fff;
  transform: rotate(45deg);
}
.small-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: rgba(0, 200, 0, 0.3);
}
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7 {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.sysbtn-md {
  padding: 10px 15px;
  font-family: 'Roboto', serif;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  word-break: keep-all;
  white-space: nowrap;
}
.video-box {
  background: url('../img/about.png') center center no-repeat;
  background-size: contain;
  min-height: 300px;
}

.play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#2f2651 50%, rgba(63, 67, 253, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 1;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(63, 67, 253, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.play-btn:hover::after {
  border-left: 15px solid #3f43fd;
  transform: scale(20);
}

.play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 2;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.content {
  /* padding-left: 98px;
  padding-right: 98px; */
  width: 100%;
}
.page-title {
  color: #191236;
  font-weight: bold;
  font-size: 32px;
}
.page-sub-title {
  color: #191236;
  font-weight: bold;
  font-size: 32px;
}

.page-Container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  /* cursor: pointer; */
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #78718f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.btn-container {
  position: absolute;
  right: 0;
}
.border{
  border: 1px solid #bbb;
  border-radius: 4px; 
}

.input-row,
.course-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}
.input-bgc {
  background-color: #78718f;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  width: 10px;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #20152e;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #20154e;
  cursor: pointer;
}

.dashboard-content {
  background-color: #ebeaef;
  width: 80%;
  left: 20%;
  position: absolute;
  z-index: 1;
  top: 0%;
  
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  left: 45%;
  top: 35%;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #40356e;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.w-90{
  width: 90%;
}
span.w-40, .w-40{
  width: 40%;
}
span.w-60, .w-60{
  width: 60%;
}
.width50 {
  width: 500px !important;
  right: 0 !important;
  transition: width 1s ease !important;
}
.exprightNav {
  position: absolute;
  right: 0px;
  top: 13vh ;
  width: 200px;    
  transition: width 0.4s;  

}
.bottom-0{
bottom: 0;  
}


* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 90px;
  margin-left: -3px;
}

/* Container around content */
.containerT {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 70%;
}

/* The circles on the timeline */
.containerT::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
span.r-right-none,.r-right-none{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
span.r-left-none,.r-left-none{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
span.no-border-right,.no-border-right{
  border-right: none;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 40px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.contentT {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
.timelineText {
  position: absolute;
  left: -100px;
  top: 25px;
  color: #fff;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  div.taskForm{
    padding: 5px !important;
  }
  div.swal2-content{
    padding: 5px;
  }
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .containerT {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .containerT::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Explore Page Styles */

.explore__header {
  font-weight: 500;
}

.expr-uploads-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.expr-dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.expr-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
}

.notification-table{
  border-radius: 1rem;
  width: 100%;  
  height: 64vh;
  overflow-y: scroll;  
  overflow-x: hidden;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f8d877;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f8d877;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f8d877;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.drop-zone {
  width: 100%;
  height: 200px;
  padding: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #adafaf;
  border-radius: 10px;
}

.drop-zone-text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}
.line-height-none{
  line-height: 0 !important;
  height: 10px;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

 .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
  }
.p-loader-bg-dark{
   background:rgb(20,5,70);
}
.p-loader-bg-transparent{
   background:rgba(20,5,70,.7);
}
.sysloader{
 
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;  
  z-index: 1000000;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 34px;
  height: 34px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #384;
  border-color: #385 #fff #385 #fff;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#toast {

  display: none;
    flex-wrap: wrap;
    align-items: center;
    width: 230px;    
    padding: 5px;    
    margin: 0px auto;    
    color: #fff;
    text-align: center;
    border-radius: 2px;
    transition: transform 0.6s;
   transform: translateX(0%);
   opacity: 0;
    position: fixed;
    z-index: 110;
    
    right:0;
    left: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
  width: 30px;  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  float: left;          
  box-sizing: border-box;        
  margin: 0px 5px;
}
#toast #toastdesc{    
    overflow: hidden;
    margin: 0px;
    white-space: nowrap;
}

#toast.show {
    display: flex;
    /*-webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, fadeout 0.5s 2.5s;*/
    animation: fadein 0.5s,stay 0.1s 4s, fadeout 0.5s 1s;
  
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes stay {
  
}

@keyframes stay {
  
}
/*
  @-webkit-keyframes shrink {
      from {min-width: 350px;} 
      to {min-width: 50px;}
  }

  @keyframes shrink {
      from {min-width: 350px;} 
      to {min-width: 50px;}
  }

*/
#addEBox tr{  
  border-top: none !important;
  border-bottom: 1px solid #eee !important;
}
thead tr#cheadV th{
    font-weight: 500;
  }
thead tr td, thead th{
  text-transform: capitalize;
}
  table.dataTable.no-footer#coursetable {
        border-bottom:  3px solid #aaa;
    }
    table.dataTable.no-footer#coursetable thead th{
        border-bottom:  3px solid #aaa;
    }
  ul.pagination li.paginate_button.page-item:hover{
    background: transparent;
    border: 1px solid transparent;
  }
  ul.pagination li.paginate_button.page-item:focus{
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
  }
  a.page-link{
    color: #444;
  }
  ul.pagination li.paginate_button.page-item.active a{    
    background: #00b96b;
    border: 1px solid transparent;
  }
  ul.pagination li.paginate_button.page-item.active a:focus,ul.pagination li.paginate_button.page-item:active, ul.pagination li.paginate_button.page-item:first-child a:focus,ul.pagination li.paginate_button.page-item:last-child a:focus{
    outline: 0;
    outline-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
  }

.button{
  position: relative;
  overflow: hidden;
  transition: background 400ms;    
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  cursor: pointer;
  user-select: none;
}
span.ripple.b-warning{
  background-color: rgba(20, 15, 55, 0.1);
}
.labelV{
  user-select: none;
}
/*
  00b96b
  FFDBB5
  20154e
*/
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
.button .ripple{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.tenor {
  position: absolute;
  width: 25px;

  right: -225px;
  top: 10px;
  z-index: 9;
}
.tenor-text{
  width: 240px;
  position: absolute;
  display: inline-block;
  margin-top: -4px;
  z-index: 10;
}


.r-template{
  font-size: 0.9em;
  font-family: Roboto;
  font-weight: 500; 
  height: 23px;
}
.r-template input{  
  border-radius: 0px;
  border:1px solid transparent;
}
.r-template input:focus{
  box-shadow: none;
  border:1px solid #666;
  font-family: Roboto;
  font-weight: 500;
}
#MainMobile{
  position: fixed;
  top: 10vh;
  height: 90vh;
  background: white;
  width: 100%;
  z-index: 1000;
  transition: 0.4s all;
}
 #MainMobile ul, #MainMobile ul li{
  border-radius: 8px;
  color: white;
 }
#MainMobile a, #MainMobile ul{
  background: #345;
  color: white;
  margin:10px auto;
  width: 200px;
  text-align: center;
}
.removeMenu{
  display:none !important;
  width:0px !important;
}
 .slideMenu{
  display:none;
}
.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}
.navicon{
  cursor: pointer;
}
.MenuLContainer{
  display: flex;
  margin-top:50px;  
  width: 230px;
}


    .task-container {
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: auto auto auto;
      width: 100%;
      grid-gap: 10px;     
      padding: 10px;
      grid-template-columns: repeat(4, 1fr);
    }
  
    .task-item1 {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 100px;            
      border-radius: 6px;
      cursor: pointer;  
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;      

    }
    .task-active{
      /*rgba(5,100,0,.2)*/
      /*border:1px solid rgba(5,100,0,.3);*/
      background: white;
      color: #5a9;
      box-shadow:#ccc 1px 1px 3px;
      border-left: 4px solid #5a9;    
    }
    .task-not-active{
      /*background: rgba(170,30,60,.2);
      border:1px solid rgba(170,30,60,.3);*/
      background: white;
      color:#d36;
      box-shadow:#ccc 1px 1px 3px;
      border-left: 4px solid #d36;      
    }
    .task-not-active .task-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 0%;
      opacity: 0;
      transition: .4s ease;
      background-color: #d36;       
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: -1;
    }
    .task-active:nth-child(odd) .task-overlay {
      position: absolute;
      top: 0;
      bottom: 0;

      right: 0;
      height: 100%;
      width: 0%;
      opacity: 0;
      transition: .4s ease;
      background-color: #5a9;       
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: -1;
    }
    .task-active:nth-child(even) .task-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 0%;
      opacity: 0;
      transition: .4s ease;
      background-color: #5a9;       
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: -1;
    }

    .task-item1:focus .task-overlay {
      opacity: 1;
      width: 100%;
      z-index: 2;
    }
  
    .task-active .task-overlay .task-btns{
      color: #5a9;      
      position: relative;
      left: 50%;
      top:85%;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 0.7em;
      -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;        
    }
    .task-not-active .task-overlay .task-btns{
      color: #d36;
      
      position: relative;
      left: 50%;
      top: 85%;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      padding: 3px 6px;
      text-align: center;
      font-size: 0.7em;
      -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;        
    }
    .task-btn{
      border-radius: 5px;
      width: 62px;
      padding: 2px 4px;
      text-align: center;
      margin: 0px 2px;
      background: white;
    }
  
    .task-btn:hover, .task-btn:hover{
      text-decoration: underline;
    }
    .task-btn:active, .task-btn:active{
      user-select: none;
      text-shadow: #000 1px 1px 1px;
      color: white !important;
      box-shadow: #aaa inset 1px 1px 2px;
    }
     .task-text {
      color: white;
      font-size: 1em;
      position: absolute;
      top: 35%;
      left: 45%;
       -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;        
      font-family: 'Roboto' sans-serif;
    }

     .task-text ul{
      padding: 0px;
      margin: 0px;
    }
    .task-text ul li{
      font-size: 0.9em;
      font-weight: 400;
    }
    .task-text h5{
      margin: 0px;
      margin-bottom: 4px;
    } 
    /*
    [
      {id:1, bg:rgba(0,0,5,.2), bd:4px solid #005},
      {id:2, bg:rgba(50,0,5,.2), bd:4px solid #505},
      {id:3, bg:rgba(5,0,50,.2), bd:4px solid #50a},
      {id:4, bg:rgba(5,50,0,.2), bd:4px solid #50a},
      {id:5, bg:rgba(85,0,100,.2), bd:4px solid #80a},
      {id:6, bg:rgba(5,85,100,.2), bd:4px solid #58a},
      {id:7, bg:rgba(160,10,125,.2), bd:4px solid #a1b},
      {id:8, bg:rgba(200,120,125,.2), bd:4px solid #a88},
    ]




    */
    #result_table{
      user-select: none;
    }
    .overlapcells{
    position: absolute;
    width: 302%;
    background: white;
    top: 1px;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    left: 1px;
  }
    .timelineContainer{
      width: 90%;
    }
    .timelineBox{
      width: 80%;
    }
    .timelineBoxContainer{
      width: 70%;
    }
    .thread{
      width: 12%;
    }
    .timeline-name-status-mobile{
      display: none;
    }
    .user-search-box{
      height: 40px;
      position:absolute; 
      top:85px;
      display:flex;
      justify-content:center;
      z-index:10;
    }
    @media (max-width: 1145px) {
        .notification-table.forUser{
          margin-top: 145px;
        }
      .timelineBox{
        width: 100%;
      }
      .timelineBoxContainer{
        width: 90%;
      }
      .thread{
        width: 20%;
      }
      .task-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    @media (max-width: 945px) {

      .forThumb{
        left: 35%;
      }

      .task-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }    
    @media (max-width: 720px  ) {
      .btn-admin-user{
        margin-bottom: 10px !important;
      }
      div#login-box-120{        
        margin-top: 10px !important;
        padding-top: 10px !important;
        width: 100%;
        padding-left: 2px !important;
      }
      .login-left{
       height: 100px;
       margin-bottom: 10px !important; 

      }
       #login-box-119{
        padding-left: 2px !important;
      }
      div#login-box-120 .login-right{
        padding: 24px !important;
        width: 100%;        
        min-height: 350px;

      }
      .forThumb{
        left: 28%;
      }
      .sponsors{
        padding: 30px !important;
      }
      .sponsor-row{
        width: 100%;        
      }
      .hideOnMobile{
        display: none;
      }
      .thread{
        width: 113px;
      }
      .pd-sm-2{
        padding: 0px !important;
      }
      .task-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (max-width: 497px) {
      .login-left .d-flex{
       flex-direction: column;

      }
      .forThumb{
        left: 5%;
        font-size: 0.95em;
        width: 220px;
        flex-direction: column;        
        padding-top:5px;
        padding-bottom: 5px;
      }
       .notification-table.forUser{
          margin-top: 235px;
        }        
        .btn-admin-user, a.btn-admin-user{
            padding: 7px 13px !important;
            margin:5px auto !important;            
            float: none !important;
        }
      .user-search-box div{        
        display: flex !important;
        flex-direction: column !important;        
        align-items: center;
        width: 100%;
      }
      .user-search-box div select{
        display: block !important;
        margin-top: 5px;
        width: 100%;
      }
      .user-search-box div button{
        margin-top: 15px;
        filter: blur(0);
        width: 100px;
        line-height: 0.3em;
        padding: 20px 10px;
        height: 80px !important;        

      }
      .timelineBox{
        width: 100%;
      }
      .timelineBoxContainer{
        width: 100%;
      }
        .timeline-name-status-mobile{
          display: block;
        }
      .timeline-name-status{
        display: none;
      }
      .task-container {
        grid-template-columns: repeat(1, 1fr);        
      }
    }
    .line-h01{
      line-height: 0.1em;
    }
    .task-active span .t-h1{
      color: #5a9;     
      margin: 0px;
      font-weight: 700;     
      font-size: 1.5em;     
    }
    .task-not-active span .t-h1{
      color: #d36;     
      margin: 0px;
      font-weight: 700;     
      font-size: 1.5em;     
    }
   .task-not-active span .t-h0{
      color: #d36;     
      margin: 0px;
      font-weight: 700;     
      font-size: 0.8em;     
      text-align: center;
      text-transform: uppercase;
    }
    .task-active span .t-h0{
      color: #5a9;     
      margin: 0px;
      font-weight: 700;     
      font-size: 0.8em;     
      text-align: center;
      text-transform: uppercase;
    }
    .form-header{
      border-left: 3px solid #395;
      border-right: 3px solid #395;
      font-size: 1.1em;
      font-weight: 600;
      color: #395;
      box-shadow: #eee 1px 1.5px 3px;
      background: white;
      width: 100%;
      padding:9px;
    }
    .form-body{
      border-left: 3px solid #395;
      border-right: 3px solid #395;

      box-shadow: #eee 1px 1.5px 3px;

    }

.shakeinput
  { 
    vertical-align: middle;
    box-shadow: 0 0 0 transparent;
    border: 1px solid #999;
    outline: 0 none;
    transition: box-shadow 0.5s;
  }
.errorshake
    {
      animation: shake 0.2s ease-in-out 0s 2;
      box-shadow: 0 0 0.5em red;
    }

@keyframes shake {
  0% { margin-left: 0rem; }
  25% { margin-left: 0.5rem; }
  75% { margin-left: -0.5rem; }
  100% { margin-left: 0rem; }
}
.videContainerProp{
  padding: 0px 14px;
  position: fixed;
   top:-5px;
   left:0px;
   width: 100%;
   height: 100vh;
   background: rgba(0,0,50,.8);
   z-index: 100;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;  
}
.videContainerProp iframe{
  transition: transform 1s;
    animation: zoomvideo 1s ease-in ;
}
@keyframes zoomvideo {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.form-control{
 
}
.UpperCase{
  text-transform: uppercase;
}
.forLoginMsg{
  white-space: nowrap;
  font-size: 0.87em !important;
  padding: 2px !important;
}